<hibernate-configuration>
  <session-factory>

    <property name = "hibernate.dialect">
            org.hibernate.dialect.SQLServerDialect
    </property>

    <property name = "hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
    </property>

    <property name = "hibernate.connection.url"> jdbc:sqlserver://localhost:1433;DatabaseName=servlet;TrustServerCertificate=true
    </property>

    <!--<database name="PhanMem_BanGiay_Limited">-->

    <property name = "hibernate.connection.username">
            sa
    </property>

        <property name = "hibernate.connection.password">
        thinh123
</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
  </session-factory>
</hibernate-configuration>